@import url("https://fonts.googleapis.com/css?family=Muli:400,500,600,700|Rubik:400,500,700&display=swap");
a {
  text-decoration: none !important;
  outline: none;
  color: #3956de;
}

body {
  font-family: "Muli", sans-serif;
  color: #343a40;
  background: #ffffff;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}
